<div class="page-content-wrapper animated fadeInRight">
	<div class="page-content">
		<div class="row wrapper border-bottom page-heading">
			<div class="col-lg-12">
				<h2>
					<a (click)="getBuyer()" routerLinkActive="active" style="cursor: context-menu;">Buyer</a>
					<span style="font-size:14px">/
						<b>{{GetUrl}}</b>
					</span>
				</h2>

			</div>
		</div>

		<div class="wrapper-content ">
			<div class="row">
				<!-- Horizontal Form start -->
				<div class="col-lg-12 top20 bottom20">

					<form-wizard>
						<wizard-step [title]="'Main Page'" [isValid]="mainForm.form.valid">
							<div class="col-lg-12 top20 bottom20">
								<form class="form-horizontal m-t-xs" #mainForm="ngForm">
									<div class="col-lg-6">
										<div class="form-group">
											<label for="Buyer_Name" class="col-sm-3 text_aliment">Name</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BUYER_NAME #BUYERNAME="ngModel" name="BUYER_NAME" required>
												<div *ngIf="BUYERNAME.errors && (BUYERNAME.dirty || BUYERNAME.touched)">
													<div style="color:red" [hidden]="!BUYERNAME.hasError('required')">Name is required</div>
													<!-- <div style="color: red" [hidden]="!BUYER_NAME.hasError('pattern')">Cost Price Code should be only character</div> -->
												</div>
											</div>

										</div>

										<div class="form-group">
											<label for="Short_Name" class="col-sm-3  text_aliment">Short Name</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.Short_Name #ShortName="ngModel" name="Short_Name">
											</div>
										</div>

										<div class="form-group">
											<label for="TALLYID" class="col-sm-3  text_aliment">Tally ID</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.TALLYID #TALLYID="ngModel" name="TALLYID">
											</div>
										</div>

										<div class="form-group">
											<label for="Add1" class="col-sm-3  text_aliment">Address</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.Add1 #Add1="ngModel" name="Add1">
											</div>
										</div>
										<div class="form-group">
											<label for="Add2" class="col-sm-3  text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.Add2 #Add2="ngModel" name="Add2">
											</div>
										</div>
										<div class="form-group">
											<label for="Add3" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.Add3 #Add3="ngModel" name="Add3">
											</div>
										</div>
										<div class="form-group">
											<label for="Add4" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.Add4 #Add4="ngModel" name="Add4">
											</div>
										</div>
										<div class="form-group">
											<label for="Add5" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.Add5 #Add5="ngModel" name="Add5">
											</div>
										</div>


										<div class="form-group">
											<label for="COUN_CODE" class="col-sm-3 text_aliment">Country</label>
											<div class="col-sm-8">
													<select class="form-control bottom15 manage_select" [(ngModel)]="SelectedValue" name="COUN_CODE" #options (change)="GetCounCodeId(options.value)">
															<option value="0">--Select--</option>
															<option *ngFor="let data of conutryModel" value= {{data.COUN_CODE}}>
																									{{data.COUN_NAME}}
																</option>
																  </select>
												  
												<!-- <select class="form-control form_height" [(ngModel)]=conutryModel.COUN_CODE #COUNCODE="ngModel" name="COUN_CODE">
													<option>A</option>
													<option>B</option>
												</select> -->
												<!-- <input class="form-control form_height" type="text" [(ngModel)]=model.COUN_CODE #COUNCODE="ngModel" name="COUN_CODE"> -->
											</div>
										</div>
										<div class="form-group">
											<label for="PHONE" class="col-sm-3    text_aliment">Phone</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PHONE #PHONE="ngModel" name="PHONE">
											</div>
										</div>


										<div class="form-group">
											<label for="FAX" class="col-sm-3    text_aliment">Fax</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.FAX #FAX="ngModel" name="FAX">
											</div>
										</div>


										<div class="form-group">
											<label for="MOBILE" class="col-sm-3    text_aliment">Mobile</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.MOBILE #MOBILE="ngModel" name="MOBILE">
											</div>
										</div>



										<div class="form-group">
											<label for="EMAIL" class="col-sm-3    text_aliment">Email</label>
											<div class="col-sm-8">
												<!-- <textarea class="form-control form_width " rows="2" id="comment"></textarea> -->
												<input class="form-control form_height" type="text" [(ngModel)]=model.EMAIL #EMAIL="ngModel" name="EMAIL">
											</div>
										</div>


									</div>
									<div class="col-lg-6">

										<div class="form-group">
											<label for="WEB_ADDR" class="col-sm-3  text_aliment">URL</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.WEB_ADDR #WEBADDR="ngModel" name="WEB_ADDR">
											</div>
										</div>
										<div class="form-group">
											<label for="CNT_PRSN" class="col-sm-3    text_aliment">Contact Person</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.CNT_PRSN #CNTPRSN="ngModel" name="CNT_PRSN">
											</div>
										</div>

										<div class="form-group">
											<label for="PORT_DISC" class="col-sm-3    text_aliment">Port of Discharge</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PORT_DISC #PORTDISC="ngModel" name="PORT_DISC">
											</div>
										</div>
										<div class="form-group">
											<label for="FIN_DEST" class="col-sm-3    text_aliment">Final Destination</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.FIN_DEST #FINDEST="ngModel" name="FIN_DEST">
											</div>
										</div>
										<div class="form-group">
											<label for="FREEZE" class="col-sm-3 " style="text-align:right">Freeze Party</label>
											<div class="col-sm-8">
												<input type="checkbox" name="FREEZE" [(ngModel)]=model.FREEZE #FREEZE="ngModel" name="FREEZE">
											</div>
										</div>

										<div class="form-group">
											<label for="MER_CODE" class="col-sm-3    text_aliment">Merchandiser</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.MER_CODE #MERCODE="ngModel" name="MER_CODE">
											</div>
										</div>



										<div class="form-group">
											<label for="AGNT_CODE" class="col-sm-3    text_aliment">Buying Agent</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.AGNT_CODE #AGNTCODE="ngModel" name="AGNT_CODE">
											</div>
										</div>


										<div class="form-group">
											<label for="CMSN" class="col-sm-4">Buying Agent Commission</label>
											<div class="col-sm-8">
												<input class="form-control form_height _margin-left" type="numder" [(ngModel)]=model.CMSN #CMSN="ngModel" name="CMSN">
											</div>
										</div>


										<div class="form-group">
											<label for="BUY_FWRD" class="col-sm-3    text_aliment">Buyer's Forwarder</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BUY_FWRD #BUYFWRD="ngModel" name="BUY_FWRD">
											</div>
										</div>

										<div class="form-group">
											<label for="CURR_CODE" class="col-sm-3    text_aliment">Currency</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.CURR_CODE #CURRCODE="ngModel" name="CURR_CODE">
											</div>
										</div>


										<div class="form-group">
											<label for="RELA_SINCE" class="col-sm-3    text_aliment">Realtionship Since</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="date" [ngModel]="model.RELA_SINCE | date:'yyyy-MM-dd'" #RELASINCE="ngModel"
												 name="RELA_SINCE" (ngModelChange)="model.RELA_SINCE = $event">
											</div>
										</div>


										<div class="form-group">
											<label for="SOURCE" class="col-sm-3    text_aliment">Event/Source</label>
											<div class="col-sm-8">
												<select class="form-control form_height" [(ngModel)]=model.SOURCE #SOURCE="ngModel" name="SOURCE">
													<option>Event</option>
													<option>Source</option>
												</select>
											</div>
										</div>

										<div class="form-group">
											<label for="CAT_CODE" class="col-sm-3 text_aliment">Category</label>
											<div class="col-sm-8">
												<select class="form-control form_height" [(ngModel)]=model.CAT_CODE>
													<option>A</option>
													<option>B</option>
												</select>
											</div>
										</div>

									</div>
								</form>
							</div>
						</wizard-step>

						<wizard-step [title]="'Bank Details'">

							<div class="col-lg-12 top20 bottom20">
								<form class="form-horizontal m-t-xs">
									<div class="col-lg-6">
										<div class="form-group">
											<label for="BANKCODE" class="col-sm-3    text_aliment">Exporter's Bank</label>
											<div class="col-sm-8">
												<select class="form-control form_height" [(ngModel)]=model.BANKCODE>
													<option>A</option>
													<option>B</option>
												</select>
											</div>
										</div>

										<div class="form-group mar_btm">
											<label for="PAY_TERM1" class="col-sm-3   text_aliment ">Term & Delivery of Payments</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PAY_TERM1 #PAYTERM1="ngModel" name="PAY_TERM1">
											</div>
										</div>
										<div class="form-group">
											<label for="PAY_TERM2" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PAY_TERM2 #PAYTERM2="ngModel" name="PAY_TERM2">
											</div>
										</div>
										<div class="form-group">
											<label for="PAY_TERM3" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PAY_TERM3 #PAYTERM3="ngModel" name="PAY_TERM3">
											</div>
										</div>
										<div class="form-group">
											<label for="PAY_TERM4" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PAY_TERM4 #PAYTERM4="ngModel" name="PAY_TERM4">
											</div>
										</div>
										<div class="form-group">
											<label for="PAY_TERM5" class="col-sm-3  text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PAY_TERM5 #PAYTERM5="ngModel" name="PAY_TERM5">
											</div>
										</div>
										<div class="form-group">
											<label for="PAY_TERM6" class="col-sm-3  text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PAY_TERM6 #PAYTERM6="ngModel" name="PAY_TERM6">
											</div>
										</div>
										<div class="form-group">
											<label for="PAY_TERM7" class="col-sm-3  text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PAY_TERM7 #PAYTERM7="ngModel" name="PAY_TERM7">
											</div>
										</div>
										<div class="form-group">
											<label for="PAY_TERM8" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PAY_TERM8 #PAYTERM8="ngModel" name="PAY_TERM8">
											</div>
										</div>

									</div>
									<div class="col-lg-6">

										<div class="form-group">
											<label for="BANK_ADD1" class="col-sm-3    text_aliment">Bank Name</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BANK_ADD1 #BANKADD1="ngModel" name="BANK_ADD1">
											</div>
										</div>
										<div class="form-group">
											<label for="BANK_ADD2" class="col-sm-3    text_aliment">Bank Address</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BANK_ADD2 #BANKADD2="ngModel" name="BANK_ADD2">
											</div>
										</div>
										<div class="form-group">
											<label for="BANK_ADD3" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BANK_ADD3 #BANKADD3="ngModel" name="BANK_ADD3">
											</div>
										</div>
										<div class="form-group">
											<label for="BANK_ADD4" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BANK_ADD4 #BANKADD4="ngModel" name="BANK_ADD4">
											</div>
										</div>
										<div class="form-group">
											<label for="BANK_ACNO" class="col-sm-3    text_aliment">Bank A/c #</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BANK_ACNO #BANKACNO="ngModel" name="BANK_ACNO">
											</div>
										</div>
										<div class="form-group">
											<label for="SWIFT_ACNO" class="col-sm-3    text_aliment">Swift A/c #</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.SWIFT_ACNO #SWIFTACNO="ngModel" name="SWIFT_ACNO">
											</div>
										</div>
									</div>
								</form>

							</div>
						</wizard-step>

						<wizard-step [title]="'GST Category'">
							<div class="col-lg-12 top20 bottom20">
								<form class="form-horizontal m-t-xs">
									<div class="col-lg-6">

										<div class="form-group">
											<label for="GST_REG" class="  col-sm-3    text_aliment">Party Type</label>
											<div class="col-sm-8">
												<select class="form-control form_height" [(ngModel)]=model.GST_REG>
													<option>A</option>
													<option>B</option>
												</select>
											</div>
										</div>

										<div class="form-group">
											<label for="STATE_CODE" class="  col-sm-3    text_aliment">State</label>
											<div class="col-sm-8">
												<select class="form-control form_height" [(ngModel)]=model.STATE_CODE>
													<option>A</option>
													<option>B</option>
												</select>
											</div>
										</div>


										<div class="form-group">
											<label for="PANNO" class="  col-sm-3    text_aliment">Pan No</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PANNO #PANNO="ngModel" name="PANNO">
											</div>
										</div>

										<div class="form-group">
											<label for="GSTPRIFIX" class="  col-sm-3    text_aliment">GSTIN No.</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.GSTPRIFIX #GSTPRIFIX="ngModel" name="GSTPRIFIX">
											</div>
										</div>
									</div>
								</form>
							</div>
						</wizard-step>



						<wizard-step [title]="'MISCALLENOUS'">
							<div class="col-lg-12 top20 bottom20">

								<form class="form-horizontal m-t-xs">
									<div class="col-lg-6">
										<div class="form-group ">
											<label for="NOTIFY1" class="  col-sm-3    text_aliment">Notify Party(1) Address</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY1 #NOTIFY1="ngModel" name="NOTIFY1">
											</div>
										</div>

										<div class="form-group">
											<label for="NOTIFY2" class="  col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY2 #NOTIFY2="ngModel" name="NOTIFY2">
											</div>
										</div>
										<div class="form-group">
											<label for="NOTIFY3" class="  col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY3 #NOTIFY3="ngModel" name="NOTIFY3">
											</div>
										</div>
										<div class="form-group">
											<label for="NOTIFY4" class="  col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY4 #NOTIFY4="ngModel" name="NOTIFY4">
											</div>
										</div>
										<div class="form-group">
											<label for="NOTIFY5" class="  col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY5 #NOTIFY5="ngModel" name="NOTIFY5">
											</div>
										</div>
										<div class="form-group">
											<label for="DEAL_ITM" class="col-sm-3  text_aliment">Dealing Address</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.DEAL_ITM #DEALITM="ngModel" name="DEAL_ITM">
											</div>
										</div>

										<div class="form-group">
											<label for="VISITOR" class="  col-sm-3  text_aliment">Visiting Name</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.VISITOR #VISITOR="ngModel" name="VISITOR">
											</div>
										</div>
										<div class="form-group">
											<label for="VISIT_ADD1" class="  col-sm-3    text_aliment">Visiting Address</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.VISIT_ADD1 #VISITADD1="ngModel" name="VISIT_ADD1">
											</div>
										</div>
										<div class="form-group">
											<label for="VISIT_ADD2" class="  col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.VISIT_ADD2 #VISITADD2="ngModel" name="VISIT_ADD2">
											</div>
										</div>
										<div class="form-group">
											<label for="VISIT_ADD3" class="  col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.VISIT_ADD3 #VISITADD3="ngModel" name="VISIT_ADD3">
											</div>
										</div>
									</div>
									<div class="col-lg-6">


										<div class="form-group">
											<label for="NOTIFY6" class="  col-sm-3    text_aliment">Notify Party(2) Address</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY6 #NOTIFY6="ngModel" name="NOTIFY6">
											</div>
										</div>

										<div class="form-group">
											<label for="NOTIFY7" class="  col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY7 #NOTIFY7="ngModel" name="NOTIFY7">
											</div>
										</div>
										<div class="form-group">
											<label for="NOTIFY8" class="  col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY8 #NOTIFY8="ngModel" name="NOTIFY8">
											</div>
										</div>
										<div class="form-group">
											<label for="NOTIFY9" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY9 #NOTIFY9="ngModel" name="NOTIFY9">
											</div>
										</div>
										<div class="form-group">
											<label for="NOTIFY10" class="col-sm-3    text_aliment"></label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.NOTIFY10 #NOTIFY10="ngModel" name="NOTIFY10">
											</div>
										</div>
										<div class="form-group">
											<label for="OPEN_BAL" class="col-sm-3  text_aliment">Opening Balance EURO</label>
											<div class="col-sm-4">
												<input class="form-control form_height" type="text" [(ngModel)]=model.OPEN_BAL #OPENBAL="ngModel" name="OPEN_BAL">&nbsp;&nbsp;

											</div>
											<div class="col-sm-4">

												<input type="radio" name="gender" value="female" checked [(ngModel)]=model.BUYER_NAME #BUYER_NAME="ngModel" name="BUYER_NAME">Debit &nbsp;&nbsp;
												<input type="radio" name="gender" value="other" [(ngModel)]=model.BUYER_NAME #BUYER_NAME="ngModel" name="BUYER_NAME">Credit
											</div>
										</div>
										<div class="form-group">
											<label for="RMK5" class="col-sm-3    text_aliment">Memo Pad</label>
											<div class="col-sm-8">
												<textarea class="form-control form_width " rows="2" id="comment" [(ngModel)]=model.RMK5 #RMK5="ngModel" name="RMK5"></textarea>

											</div>
										</div>
									</div>

								</form>
							</div>
						</wizard-step>




						<wizard-step [title]="'Courier Details'">

							<div class="col-lg-12 top20 bottom20">
								<form class="form-horizontal m-t-xs">
									<div class="col-lg-6">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-3    text_aliment">Courier</label>
											<div class="col-sm-8">
												<select class="form-control form_height">
													<option>Event</option>
													<option>Source</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="  col-sm-3    text_aliment">A/C No.</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BUYER_NAME #BUYER_NAME="ngModel" name="BUYER_NAME">
											</div>
										</div>

									</div>
									<div class="col-lg-6">

										<div class="form-group">
											<label for="inputEmail3" class="  col-sm-3    text_aliment">Type</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BUYER_NAME #BUYER_NAME="ngModel" name="BUYER_NAME">
											</div>
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="  col-sm-3    text_aliment">Remarks</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BUYER_NAME #BUYER_NAME="ngModel" name="BUYER_NAME">
											</div>
										</div>
										<div class="form-group text_aliment">
											<div class="col-sm-9 col-sm-offset-2">
												<button class="btn aqua" type="button">Save</button>
											</div>
										</div>
									</div>
								</form>


								<div class="col-lg-12">
									<table class="display nowrap table  responsive nowrap table-bordered" cellspacing="0" width="100%">
										<thead style="background-color: #43b5ad;color: white;">
											<tr>
												<th>Courier</th>
												<th>A/C No.</th>
												<th>Type</th>
												<th>Remarks</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Courier </td>
												<td>A/C No.</td>
												<td>Type</td>
												<td>Remarks</td>
											</tr>
											<tr>
												<td>Courier </td>
												<td>A/C No.</td>
												<td>Type</td>
												<td>Remarks</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</wizard-step>

						<wizard-step [title]="'Conatct Details'">

							<div class="col-lg-12 top20 bottom20">
								<form class="form-horizontal m-t-xs">
									<div class="col-lg-6">
										<div class="form-group">
											<label for="BUYER_CODE" class="col-sm-3    text_aliment">Buyer Code</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.BUYER_CODE #BUYERCODE="ngModel" name="BUYER_CODE">
											</div>
										</div>
										<div class="form-group">
											<label for="CONTACT_PERSON" class="  col-sm-3    text_aliment">Contact Person</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.CONTACT_PERSON #CONTACTPERSON="ngModel" name="CONTACT_PERSON">
											</div>
										</div>
										<div class="form-group">
											<label for="DESIGNATION" class="  col-sm-3    text_aliment">Designation</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.DESIGNATION #DESIGNATION="ngModel" name="DESIGNATION">
											</div>
										</div>
										<div class="form-group">
											<label for="DEPARTMENT" class="  col-sm-3    text_aliment">Department</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.DEPARTMENT #DEPARTMENT="ngModel" name="DEPARTMENT">
											</div>
										</div>
										<div class="form-group">
											<label for="PHONE" class="col-sm-3    text_aliment">Phone</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.PHONE #PHONE="ngModel" name="PHONE">
											</div>
										</div>

									</div>
									<div class="col-lg-6">

										<div class="form-group">
											<label for="MOBILE" class="col-sm-3    text_aliment">Mobile</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.MOBILE #MOBILE="ngModel" name="MOBILE">
											</div>
										</div>
										<div class="form-group">
											<label for="EMAIL" class="col-sm-3    text_aliment">Email</label>
											<div class="col-sm-8">
												<!-- <textarea class="form-control form_width " rows="2" id="comment"></textarea> -->
												<input class="form-control form_height" type="text" [(ngModel)]=model.EMAIL #EMAIL="ngModel" name="EMAIL">
											</div>
										</div>
										<div class="form-group">
											<label for="RELA_SINCE" class="col-sm-3    text_aliment">Date of Birth</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="date" [ngModel]="model.RELA_SINCE | date:'yyyy-MM-dd'" #RELASINCE="ngModel"
												 name="RELA_SINCE" (ngModelChange)="model.RELA_SINCE = $event">
											</div>
										</div>
										<div class="form-group">
											<label for="RELA_SINCE" class="col-sm-3    text_aliment">Marriage Anniversery</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="date" [ngModel]="model.RELA_SINCE | date:'yyyy-MM-dd'" #RELASINCE="ngModel"
												 name="RELA_SINCE" (ngModelChange)="model.RELA_SINCE = $event">
											</div>
										</div>

										<div class="form-group">
											<label for="REMARKS" class="  col-sm-3    text_aliment">Remarks</label>
											<div class="col-sm-8">
												<input class="form-control form_height" type="text" [(ngModel)]=model.REMARKS #REMARKS="ngModel" name="REMARKS">
											</div>
										</div>
										<div class="form-group text_aliment">
											<div class="col-sm-9 col-sm-offset-2">
												<button class="btn aqua" type="button">Save</button>
											</div>
										</div>
									</div>
								</form>


								<div class="col-lg-12">
									<table class="display nowrap table  responsive nowrap table-bordered" cellspacing="0" width="100%">
										<thead style="background-color: #43b5ad;color: white;">
											<tr>
												<th>Buyer Code</th>
												<th>Contact Person</th>
												<th>Department</th>
												<th>Designation</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Buyer Code</td>
												<td>Contact Person</td>
												<td>Department</td>
												<td>Designation</td>
											</tr>
											<tr>
												<td>Buyer Code</td>
												<td>Contact Person</td>
												<td>Department</td>
												<td>Designation</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</wizard-step>
						<wizard-step [title]="'Save Details'" (onComplete)="onComplete($event)">
							<div class="col-lg-12 top20 bottom20">
								<div [ngSwitch]="isCompleted">
									<div *ngSwitchDefault>
										<h2>Thank you! You have completed all the steps.</h2>
									</div>
									<div *ngSwitchDefault>
										<h2>Click Done button to save your details</h2>
									</div>

								</div>
							</div>
						</wizard-step>
					</form-wizard>

				</div>
			</div>
		</div>



		<!--Horizontal Form End -->

	</div>
</div>