
<div class="footer">
    <div style="text-align: center;">
            <strong>Copyright </strong> Shiva Infotech &copy; 2018 
        <!-- <ul class="list-inline">
            <li><a title="" href="index.html">Dashboard</a></li>
            <li><a title="" href="mailbox.html"> Inbox </a></li>
            <li><a title="" href="blog.html">Blog</a></li>
            <li><a title="" href="contacts.html">Contacts</a></li>
        </ul> -->
    </div>
    <!-- <div> <strong>Copyright </strong> Shiva Infotech &copy; 2018 </div> -->
</div>